
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Acceso Restringido</title>
</head>

<style>

    body{
        background-color: rgb(86, 109, 109);
        text-align: center;
    }

    .image_error{
        height: 80%;
        width: 80%;
    }

</style>
<body>
    <h1>Acceso Restringido</h1>
    <p>Lo sentimos, no tienes permiso para realizar esta acción.</p>
    <img class="image_error" src="static/images/ar.png" alt="">
    
</body>
</html>



