{% extends 'base.html' %}

{% block title %}Proveedores{% endblock %}

{% block content %}
    <div class="container">
        <h1>Proveedores</h1>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Contacto</th>
                    <th>Día Pedido</th>
                    <th>Día Entrega</th>
                    <th>Total Pagado</th>
                    <th>ID Producto</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for proveedor in proveedores %}
                    <tr>
                        <td>{{ proveedor[0] }}</td>
                        <td>{{ proveedor[1] }}</td>
                        <td>{{ proveedor[2] }}</td>
                        <td>{{ proveedor[3] }}</td>
                        <td>{{ proveedor[4] }}</td>
                        <td>{{ proveedor[5] }}</td>
                        <td>
                            <a href="{{ url_for('editar_proveedor', id=proveedor[0]) }}" class="edit-button">Editar</a>
                            <form action="{{ url_for('eliminar_proveedor', id=proveedor[0]) }}" method="post" style="display:inline;">
                                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                                <button type="submit" class="delete-button">Eliminar</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{{ url_for('nuevo_proveedor') }}" class="button">Nuevo Proveedor</a>
    </div>
{% endblock %}
