{% extends 'base.html' %}

{% block title %}Ventas{% endblock %}

{% block content %}
    <h1>Ventas</h1>
    <a href="{{ url_for('nueva_venta') }}">Nueva Venta</a>
    <table>
        <thead>
            <tr>
                <th>ID Venta</th>
                <th>Fecha</th>
                <th>Total</th>
                <th>Empleado</th>
            </tr>
        </thead>
        <tbody>
            {% for venta in ventas %}
                <tr>
                    <td>{{ venta[0] }}</td>
                    <td>{{ venta[1] }}</td>
                    <td>{{ venta[2] }}</td>
                    <td>{{ venta[3] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
